@use 'global' as *;

.blog{
    background-color: #fff;
    max-width: unset;
    padding: 5% 10%;

    .title {
        @extend %base-title;
    }

    .process-list{
        margin-top: 40px;
        margin-bottom: 36px;

        .process{
            margin-bottom: 25px;
            
            & > div {
                & > h3 {
                    color: $dark-green-title;
                    margin-bottom: 0;
                    font-size: 30px;
                    font-weight: 500;
                }
                & > p{
                    color: $dark-green-text;
                    margin: 0;
                }
            }

            .process-icon {
                width: 60px;
                height: 60px;
                margin-right: 10px;
                text-align: center;
    
                img {
                    height: 100%;
                }
            }

            
        }

        button{
            height: auto;
            border-radius: 8px;
            padding: 12px;
            width: 180px;
            margin-bottom: 15px;
        }
    }

    .card {
        .category {
            color: $light-green;
        }

        .read-time {
            color: $light-gray;
        }

        .card-title, .card-text {
            color: $dark-gray;
        }

        .author {
            img {
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
            }
        }
    }
}

.trial-form{
    background-color: $trial-light-green;
    padding: 2rem;
    margin: 10rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        @extend %base-title;
        font-size: 4rem;
    }
    p{
        color: $white;
        text-align: center;
    }

    .mail-form{
        margin: 1rem auto 1rem auto;
        input{
            width: 50%;
        }
    }

}

.trial-demo {
    background-color: $dark-green-title;
    padding: 3rem;
    border-radius: 10px;
    color: $white;


    h2 {
        @extend %base-title;
        color: $white;
    }

    p {
        font-size: 1.2rem;
        a {
            color: $light-green-link;
        }
    }


}