@media (max-width: 575px){
  body{
    background-color: aqua;
  }
} 

body {
    background-color: #fffbf7;
}

.main h1 {
    color: #025157;
    text-align:center;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.main p {
    color: #8b8b8bcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
    height: 45px;
    border-radius: 5px;
    font-weight: 600;
}

.header {
  margin: 40px 20px 0px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 2rem;
}

.navbar {
  /*width: 65%;*/
  text-align: left;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 20%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  /*margin-right: 10px;*/
  
}


.actions > * {
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.sign-text {
    color: #67b54b;
}
/*ol {
    margin-left: 25px;
    margin-right: 25px;
}*/

.trial-button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px;
    border: 0;
    border-radius: 5px;
}

.video-art{
  margin-left: 30px;
}
.video-art h2{
  color: #025157;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.video-art p{
  color: #343434;
}

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.vid1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid1 img {
  width: 120px;
}

.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.features {
  display: grid;
  background-color: #025157;
  height: 660px;
  grid-template: repeat(2, 330px) / repeat(2, 1fr)

}

.features article{
  display:  grid;
  grid-template-columns: 60% 40%;
  border: solid 1px #025157;
  background-color: #fff;
  margin: 1rem;
  padding: 0 0 3rem 1rem;
  border-radius: 5px;
  
}

#feature-article img{
  height: 20px;
}

.features a{
  color: #67b54b;
  font-weight: bold;

}

.navbar-brand > img{
  max-height: 100% ;
}

.side-img{
  display: flex;
  align-items: center;
  justify-content: right;
}

.side-img img{
  height: 50%;
}

.left-div{
  padding: 1rem 1rem 1rem 1rem;
}

.how-matcha-works{
  margin-top: 100px;
  background-color: #fffbf7;
}

.how-matcha-works h2{
  color: #025157;
  text-align: center;
  margin: 10px 0 10px 0;
  font-family: 'Staatliches', cursive;
}

.how-matcha-works p{
  margin: 1rem;
  font-family: 'Raleway', sans-serif;
}

.how-matcha-works a{
  color: #67b54b;
  font-family: 'Raleway', sans-serif;
  margin: 1rem;
}

.how-matcha-works article{
  border: solid 1px #757575;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 2rem 2rem 0;
}

.steps{
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  margin: 10%;
}

.works-div1 {
  align-content: center;
  margin: 100px 20% auto;
  text-align: center;
  justify-content: center;
}


.steps img{
  width: 100%;
  
}

.how-matcha-works .steps div{
  height: 350px;
}

.works-div1 h2{
  font-size: 4rem;
}

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

/* Cambiamos el alto mínimo de la tarjeta, para que se vea bien en responsive */
.success-stories .card {
  max-width: 370px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
}

/* Con object-fit, hacemos que la imagen se ajuste a la medida de su contenedor y limitamos su alto */
.success-stories .card img {
  max-height: 30vh;
  object-fit: cover;
}

/* Agregamos position: relative para recibir un elemento con position:absolute más adelante */
.success-stories .card .card-body {
  max-width: 370px;
  width: 100%;
  position: relative;
  padding: 40px 1rem 1rem;
}

/* Estos son los estilos para textos y acomodo de elementos */
.success-stories .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: "Slabo 27px", serif;
}

.success-stories .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories .card .card-body .results {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.success-stories .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.success-stories .card .card-body .results p {
  margin: 0;
}

.success-stories .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
  background-color: #025157;
  color: #fff;
  border: none;
}

.success-stories .card .card-footer {
  background-color: #ffffff;
  color: #fff;
  border: none;
}

/* Aqui hacemos un círculo con CSS! Este se posicionará en el margen superior de .card-body */
.success-stories .card .card-body .card-circle {
  display: flex;
  align-items: center;
  position: absolute;
  top:-45px;
  right: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 5px;
}

/* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */
.success-stories .card .card-body .card-circle.everly {
  background-color: #f9da73;
  border: 5px solid #f9da73;
}

/* Los círculos deben recibir la imagen y ajustarla al tamaño */
.success-stories .card .card-body .card-circle.everly img {
  object-fit: contain;
  width: 100%;
}

@media (max-width: 575px){

  /* .navbar, .actions{
    display: none;
  } */

 .main h1{
    font-size: 30px;
  }

  .main{
    margin-top: 90px;
  }

  .main .banner img{
    width: 100%;
  }

  .video-art > form{
    flex-direction: column;
  }

  .video-art > form > div{
    height: 50px;
    margin-top: 10px;
  }

  .promo{
    flex-direction: column;
    max-width: 90%;
  }

  .vid1{
    width: 100%;
  }

  .video-art h2{
    font-size: 25px;
    line-height: 1.2;
  }

  .features{
    grid-template: repeat(4,1fr) / 1fr;
  }
} 