body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align:center;
    font-family: 'Pacifico', cursive;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
  margin: 40px 20px 0px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 65%;
  text-align: left;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 20%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  /*margin-right: 10px;*/
  
}


.actions > * {
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    margin-top: 140px;
    text-align: center;
}

.sign-text {
    color: #67b54b;
}
/*ol {
    margin-left: 25px;
    margin-right: 25px;
}*/

.trial-button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px;
    border: 0;
    border-radius: 5px;
}

.video-art{
  margin-left: 30px;
}
.video-art h2{
  color: #025157;
  font-family: 'Raleway', sans-serif;
}

.video-art p{
  color: #343434;
}

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.vid1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid1 img {
  width: 120px;
}