@media (max-width: 575px){
  body{
    background-color: aqua;
  }
} 

body {
    background-color: #fffbf7;
}

.main h1 {
    color: #025157;
    text-align:center;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.main p {
    color: #8b8b8bcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
    height: 45px;
    border-radius: 5px;
    font-weight: 600;
}

.header {
  margin: 40px 20px 0px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 2rem;
}

.navbar {
  /*width: 65%;*/
  text-align: left;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 20%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  /*margin-right: 10px;*/
  
}


.actions > * {
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.sign-text {
    color: #67b54b;
}
/*ol {
    margin-left: 25px;
    margin-right: 25px;
}*/

.trial-button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px;
    border: 0;
    border-radius: 5px;
}

.video-art{
  margin-left: 30px;
}
.video-art h2{
  color: #025157;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.video-art p{
  color: #343434;
}

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.vid1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid1 img {
  width: 120px;
}

.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.features {
  display: grid;
  background-color: #025157;
  height: 660px;
  grid-template: repeat(2, 330px) / repeat(2, 1fr)

}

.features article{
  display:  grid;
  grid-template-columns: 60% 40%;
  border: solid 1px #025157;
  background-color: #fff;
  margin: 1rem;
  padding: 0 0 3rem 1rem;
  border-radius: 5px;
  
}

#feature-article img{
  height: 20px;
}

.features a{
  color: #67b54b;
  font-weight: bold;

}

.navbar-brand > img{
  max-height: 100% ;
}

.side-img{
  display: flex;
  align-items: center;
  justify-content: right;
}

.side-img img{
  height: 50%;
}

.left-div{
  padding: 1rem 1rem 1rem 1rem;
}

.how-matcha-works{
  margin-top: 100px;
  background-color: #fffbf7;
}

.how-matcha-works h2{
  color: #025157;
  text-align: center;
  margin: 10px 0 10px 0;
  font-family: 'Staatliches', cursive;
}

.how-matcha-works p{
  margin: 1rem;
  font-family: 'Raleway', sans-serif;
}

.how-matcha-works a{
  color: #67b54b;
  font-family: 'Raleway', sans-serif;
  margin: 1rem;
}

.how-matcha-works article{
  border: solid 1px #757575;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 2rem 2rem 0;
}

.steps{
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  margin: 10%;
}

.works-div1 {
  align-content: center;
  margin: 100px 20% auto;
  text-align: center;
  justify-content: center;
}


.steps img{
  width: 100%;
  
}

.how-matcha-works .steps div{
  height: 350px;
}

.works-div1 h2{
  font-size: 4rem;
}


@media (max-width: 575px){

  /* .navbar, .actions{
    display: none;
  } */

 .main h1{
    font-size: 30px;
  }

  .main{
    margin-top: 90px;
  }

  .main .banner img{
    width: 100%;
  }

  .video-art > form{
    flex-direction: column;
  }

  .video-art > form > div{
    height: 50px;
    margin-top: 10px;
  }

  .promo{
    flex-direction: column;
    max-width: 90%;
  }

  .vid1{
    width: 100%;
  }

  .video-art h2{
    font-size: 25px;
    line-height: 1.2;
  }

  .features{
    grid-template: repeat(4,1fr) / 1fr;
  }
} 